/* start version */
/* Override RTD theme */
.rst-versions {
	border-top: 0px;
	overflow: visible;
}
.version-btn.vdeact {
	cursor: default;
	color: dimgray;
}

.version-btn.vdeact::after {
	content: "";
}
#versionwrap {
	display: block;
	padding: 2px 0px 30px;
	font-size: 90%;
}
.version-btn, .version-btn-open {
	position: relative;
	display: inline-block;
	background-color: #272525;
	width: 140px;
	text-align: center;
	padding: 3px 10px;
	margin: 0 5px;
	vertical-align: middle;
	z-index: 400;
	transition: border-color 0.4s;
}
.version-btn {
	color: #27AE60;
	border: solid 1px #444444;
	border-radius: 3px;
	cursor: pointer;
}
.version-btn::after {
	content:"\f0d8";
	display: inline;
	font: normal normal normal 16px/1 FontAwesome;
	color: #8d8c8c;
	vertical-align: top;
	padding-left: 0.5em;
}
.version-btn:hover, .version-btn:focus {
	border-color: #525252;
}
.version-btn-open {
	border-style: solid;
	color: gray;
	border-width: 1px;
	border-color: transparent gray gray gray;
	border-radius: 0px 0px 3px 3px;
	cursor: pointer;
}
.version-btn.wait {
	cursor: wait;
}
.version-btn.disabled {
	cursor: not-allowed;
	color: dimgray;
}
.version-list {
	display: none;
	position: absolute;
	bottom: 28px;
	width: 140px;
	margin: 0 5px;
	padding-bottom: 4px;
	text-align: center;
	background-color: #000C;
	border-style: solid;
	border-width: 1px 1px 0px 1px;
	border-color: gray;
	border-radius: 3px 3px 0px 0px;
	box-shadow: 0 0 6px #000C;
	z-index: 399;
	max-height: calc(100vh - 30px);
	overflow-y: auto;
}
.version-list a, .version-list span, .version-list li {
	position: relative;
	display: block;
	font-size: 14px;
	line-height: 1.15;
	width: 100%;
	margin: 0;
	padding: 4px 0px;
	color: #404040;
}
.version-list li {
	background-color: #ede9e9;
	color: #404040;
	padding: 1px;
}
.version-list li:hover, .version-list li a:focus {
	background-color: #b9cfda;
}
.version-list li.selected, .version-list li.selected:hover {
	background-color: #8d8c8c;
}
.version-list li.selected span {
	cursor: default;
	outline-color: red;
}
/* End version. */
