{%- extends "!layout.html" %}
{%- block linktags %}
    <link rel="alternate" hreflang="en" href="https://docs.blender.org/manual/en/latest/">
    <link rel="alternate" hreflang="de" href="https://docs.blender.org/manual/de/latest/">
    <link rel="alternate" hreflang="es" href="https://docs.blender.org/manual/es/latest/">
    <link rel="alternate" hreflang="fi" href="https://docs.blender.org/manual/fi/latest/">
    <link rel="alternate" hreflang="fr" href="https://docs.blender.org/manual/fr/latest/">
    <link rel="alternate" hreflang="it" href="https://docs.blender.org/manual/it/latest/">
    <link rel="alternate" hreflang="ja" href="https://docs.blender.org/manual/ja/latest/">
    <link rel="alternate" hreflang="ko" href="https://docs.blender.org/manual/ko/latest/">
    <link rel="alternate" hreflang="nb" href="https://docs.blender.org/manual/nb/latest/">
    <link rel="alternate" hreflang="pt" href="https://docs.blender.org/manual/pt/latest/">
    <link rel="alternate" hreflang="ru" href="https://docs.blender.org/manual/ru/latest/">
    <link rel="alternate" hreflang="sl" href="https://docs.blender.org/manual/sl/latest/">
    <link rel="alternate" hreflang="sr" href="https://docs.blender.org/manual/sr/latest/">
    <link rel="alternate" hreflang="uk" href="https://docs.blender.org/manual/uk/latest/">
    <link rel="alternate" hreflang="vi" href="https://docs.blender.org/manual/vi/latest/">
    <link rel="alternate" hreflang="zh-Hans" href="https://docs.blender.org/manual/zh-hans/latest/">
    <link rel="alternate" hreflang="zh-Hant" href="https://docs.blender.org/manual/zh-hant/latest/">
    <link rel="alternate" hreflang="x-default" href="https://docs.blender.org/manual/en/latest/">
    {{ super() }}
{%- endblock %}

{%- block footer %}
{{ super() }}
<script>
window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
ga('create', 'UA-1418081-1', 'auto');
ga('send', 'pageview');
</script>
<script async src='https://www.google-analytics.com/analytics.js'></script>
{%- endblock %}
